<div class="form-container">
  <form (ngSubmit)="onSubmit()" #compositionForm="ngForm">
    <div class="form-group">

      <mat-form-field class="form-item">
        <input [(ngModel)]="uml_isCompositionOf_instance.uml_isCompositionOf_name"
               name="uml_isCompositionOf_name"
               type="text"
               class="form-control"
               id="uml_isCompositionOf_name"
               matInput
               #name="ngModel"
               placeholder="Name">
      </mat-form-field>
    </div>

    <div class="form-group">
      <h4>To Cardinality</h4>
      <mat-form-field class="form-item">
        <input [(ngModel)]="uml_isCompositionOf_instance.uml_isCompositionOf_cardinality.to.min"
               name="uml_isCompositionOf_cardinality.to.min"
               type="text"
               class="form-control"
               id="uml_isCompositionOf_cardinality.to.min"
               matInput
               #name="ngModel"
               placeholder="min">
      </mat-form-field>

      <mat-form-field class="form-item">
        <input [(ngModel)]="uml_isCompositionOf_instance.uml_isCompositionOf_cardinality.to.max"
               name="uml_isCompositionOf_cardinality.to.max"
               type="text"
               class="form-control"
               id="uml_isCompositionOf_cardinality.to.max"
               matInput
               #name="ngModel"
               placeholder="max">
      </mat-form-field>
    </div>

    <button #submitCompositionForm mat-raised-button  type="submit" [disabled]="!compositionForm.form.valid" initialFocus>Submit</button>
  </form>
</div>
