<mat-toolbar class="mat-elevation-z6" color="primary">
  <span>Modelling Toolkit</span>
</mat-toolbar>

<app-language-header></app-language-header>

<div class="languages">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
    <mat-grid-tile class="language">1</mat-grid-tile>
    <mat-grid-tile class="language">2</mat-grid-tile>
    <mat-grid-tile class="language">3</mat-grid-tile>
    <mat-grid-tile class="language">4</mat-grid-tile>
    <mat-grid-tile class="language">5</mat-grid-tile>
    <mat-grid-tile class="language">6</mat-grid-tile>
  </mat-grid-list>
</div>

